@font-face {
  font-family: "rajdhani";
  src: url(/assets/fonts/Rajdhani-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 5%;
  border: 1px solid #055e5f;
  box-shadow: 0px -2px 1px 1px #36a5a7;
}

h1 {
  font-size: 4rem;
}

h1,
h3,
h4,
.study,
.work {
  font-family: "rajdhani";
  letter-spacing: 0.5rem;
}

.container-fluid {
  padding: 0 5%;
}

figure {
  border: 2px solid #b0adad;
  width: 85%;
  border-radius: 80%;
  overflow: hidden;
}

header #pti_trait {
  width: 27px;
  height: 2px;
  background: #6b6a6a;
}

main {
  margin-top: 8%;
}

main .container-fluid {
  padding-bottom: 5%;
}

main .letter_spacing {
  letter-spacing: 0.06rem;
}

#profil_padding {
  padding-bottom: 10%;
}

.social_medias_icons_title {
  font-size: 0.8rem;
  font-family: "rajdhani";
}

footer .formulaires_contact {
  padding: 0 15%;
}

input,
textarea {
  border: none;
  border-radius: 5px;
  width: 100%;
}

textarea {
  height: 120px;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #2b7071;
  color: #ffffff;
}

input::placeholder,
textarea::placeholder,
#submit_btn {
  color: #055e5f;
  text-shadow: 0px -1px 1px #36a5a7;
}

#submit_btn {
  width: 20%;
  background-color: #fff;
  border: 1px solid #36a5a7;
}

#submit_btn:hover {
  background-color: #055e5f;
  border: 2px solid #30b2b4;
  color: #fff;
}

footer #copyrightAndIcons {
  font-family: "rajdhani";
  letter-spacing: 0.4rem;
  color: #6b6a6a;
}
#copyrightAndIcons a i {
  color: #6b6a6a;
}

#copyrightAndIcons a i:hover {
  color: #055e5f;
  opacity: 0.8;
  transform: scale(2);
  transition: 0.6s ease-in-out;
}

@media screen and (max-width: 991px) {
  figure {
    width: 30%;
    border-radius: 80%;
  }

  #profil_padding {
    padding: 10% 0;
  }

  footer .formulaires_contact {
    padding: 0 7%;
  }
}

@media screen and (max-width: 900px) {
  figure {
    width: 40%;
    border-radius: 80%;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 3rem;
  }

  figure {
    width: 60%;
    border-radius: 80%;
  }
}
